.DS_Store
.tmp-venv/

# Workspace dependencies/build
**/node_modules/
**/dist/
**/.next/
**/out/
**/coverage/

# Env and local secrets
**/.env
**/.env.*

# Logs
*.log
be/google-credentials.json
be/google-credentials.json
